

#searchBar{
    margin: 20px;
    margin-left: 34%;
    width: 300px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(240, 248, 255, 0.244);
    border: 0px;
    text-align: center;
}

#searchBar:hover{
   border: 1px solid yellow;
}