
#data-formation-page-body{
    padding: 20px;
    background: linear-gradient(107deg, rgba(3,0,43,1) 0%, rgba(4,62,53,1) 100%, rgba(114,22,22,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03002b",endColorstr="#721616",GradientType=1);
    min-height: 100vh;
}

#Card-1, #Card-2{
    display: inline-block;
}

#login-failed-message{
    text-align: center;
    color: snow;
    font-size: 30px;
}

#login-error-pic{
    margin-left: 45%;
}

#btn-login{
   width: 300px;
   margin-top: 20px;
   margin-left: 40%;
}

#btn-Registration{
    width: 300px;
    margin-top: 20px;
    margin-left: 40%;
    background-color: rgb(83, 62, 62);
    border: 2px solid rgb(83, 62, 62);
}